:root {
  --code-padding: 1rem;

  --code-line-numbers-width-default: 0;
}

pre.shiki {
  display: block;
  overflow-x: auto;
  padding-top: var(--code-padding);
  padding-bottom: var(--code-padding);
}

.shiki code {
  display: block;
  width: fit-content;
  min-width: 100%;
  padding-left: var(--code-padding);
  padding-right: var(--code-padding);

  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  tab-size: 4;
  hyphens: none;
}

/********** Line highlight **********/

.shiki code span.line-highlight {
  @apply inline-block border-foreground/30 bg-primary/10 border-l-4;
  width: calc(100% + 2 * var(--code-padding));
  transition: background-color 0.5s;

  /* border-l-4 is 4px */
  padding-left: calc(var(--code-padding) - 4px);
  padding-right: var(--code-padding);
  margin-left: calc(-1 * var(--code-padding));
  margin-right: calc(-1 * var(--code-padding));

  & span {
    background-color: transparent !important;
    transition: background-color 0.5s;
  }
}

.dark {
  .shiki code span.line-highlight {
    background-color: rgba(255, 255, 255, 0.05) !important;
    transition: background-color 0.5s;

    & span {
      background-color: transparent !important;
      transition: background-color 0.5s;
    }
  }
}

/********** Line numbers **********/

.shiki code span.line-number::before {
  @apply inline-block text-right text-sm text-muted-foreground/60;
  content: attr(data-line);
  width: var(--code-line-numbers-width, --code-line-numbers-width-default);
  margin-right: var(--code-padding);
}

/********** CLI **********/

.shiki code span.line-command::before {
  @apply mr-2 text-muted-foreground;
  content: '$';
}

/********** Required for Shiki **********/

.dark .shiki,
.dark .shiki span:not(.line) {
  color: var(--shiki-dark) !important;
  background-color: var(--shiki-dark-bg) !important;
  font-style: var(--shiki-dark-font-style) !important;
  font-weight: var(--shiki-dark-font-weight) !important;
  text-decoration: var(--shiki-dark-text-decoration) !important;
}
